body {background-color:black;}
h1
{
	color:rgb(128,128,128);
	text-align: center;
}
form
{
	border-radius: 25px;
	background-color:white;
	text-align: center;
	height: 300px;
	width: 550px;
}
fieldset 
{
	padding-left: 20%;
	text-align: left;
}
footer{text-align: left;}


